@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Labrada",Arial, Helvetica, sans-serif;
    /* background:#828382; */
    background: linear-gradient(to right, #09203f 0%, #537895 100%);
}


#chessboard {
    width: 496px;
    height: 496px;
    margin-top: -4%;
 }

 .chess-square {
    float: left;
    width: 62px;
    height: 62px;
    background-color: #ebebd6;
 }

 
.main{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
} 


.rules{
    max-width: 50%;
    margin: -2em 2em 0em 1em;
    color:white;
  
}

li.about{
    list-style-type: none;
    font-size: 1.5em;
    font-family: "Labrada";
 
}
.rules ul li{
    font-size: 1.1em;
    margin-left: 2em;
    list-style-type: square;
    line-height: 1em;
}

.game_board{
    max-width: 50%;
    height: 80%;
    margin: 2em 5em 0em 2em;
}

header{
    margin-top: 10px;
    color:white;
    font-family:"Rampart One";
}

header i {
    color:white;
    margin-left: 1%;
}

h1, h3 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
}


h3 {
    font-size: 2em;
    text-align: left;
    border-bottom:1px solid white; 
    margin-top: 4%;
    padding-bottom: 1%;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: left;
}

.buttons
{
    margin-left: 0.8em;
    padding: 0.2em;
    width: 120px;
    height: 50px;
    background-color:#082c5b;  
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bolder; 
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
}

.buttons:hover
{
    box-shadow: inset 4px 4px 6px #cccccc, inset -3px -3px 6px #a1a1a1; 
}